<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<!-- Include Header -->

<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado.ejs')  %> 
	<% }else {%>
		<%- include('./partials/headerDesLogueado.ejs')  %> 
	<% } %> 

	<!-- Show the "ultimos" products -->
	<div class="container">
		<h2 class="products-title" id="titleLogin">Ingresar</h2>
		<form method="POST" action="/user/login">
			<label class="textForm" for="uname"><b>Email</b></label>
			<input class="inpForm" id="email" type="email" placeholder="Introduce un Email" name="email" required>
		
			<label class="textForm" for="psw"><b>Contraseña</b></label>
			<input class="inpForm" id="password" type="password" placeholder="Introduce una Contraseña" name="contrasenia" required>
			
			<div class="input-container ic1 checkbox">
				<label class="textForm" for="remember">Recordarme</label>
				<input id="remember" class="input" type="checkbox" name="remember" />
				<br>
				<p class="textForm">Si aún no cuentas con un usuario registrado, ¿Qué esperas? <a href="/user/register"> Registrate</a></p> 
			</div>
			 
			<% if (locals.errors) { %>
				<p class="error"><%= locals.errors.message %> </p>
			<% } %>

			<button class="bttnLogin" type="submit">LOGIN</button>
		</form>
	</div>
	<!-- Show the "ultimos" products -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>