<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<!-- Include Header -->

<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado.ejs')  %> 
	<% }else {%>
		<%- include('./partials/headerDesLogueado.ejs')  %> 
	<% } %> 

	<!-- ProductsAAniadir -->
	<div class="container">
		<h2 class="products-title">Cargar nuevo producto</h2>
		<% if (locals.errors) { %>
			<p class="error"><%= locals.errors.message %> </p>
		<% } %>
		<form method="POST" action="/product/product-add" enctype="multipart/form-data">
			<label class="textForm" for="img"><b>Imagen del producto</b></label>
			<input class="inpForm" type="file" name="imgProduct">
			
			<label class="textForm" for="name"><b>Nombre del producto</b></label>
			<input class="inpForm" type="text" placeholder="Nombre" name="title">
		
			<label class="textForm" for="descripcion"><b>Descipcion del producto</b></label>
			<textarea class="inpForm" name="desc" placeholder="Describa el producto que quiere cargar" type= "text" cols="30" rows="10"></textarea>
			<input class="inpForm" type="hidden" placeholder="Describa el producto que quiere cargar (opcional)" name="userId" value="<%= locals.user.id %> ">
			<div class="divButton">
				<button id="btnFormPA" class="btnForm" type="submit"> CONFIRMAR CARGA DEL PRODUCTO</button>
			</div>	
		</form>

	</div>
	<!-- ProductsAAniadir -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>