<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<!-- Include Header -->

<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado.ejs')  %> 
	<% }else {%>
		<%- include('./partials/headerDesLogueado.ejs')  %> 
	<% } %> 

	<!-- ProductsEdit -->
	<div class="container">
		<h2 class="products-title">Editar el producto <%= product.title %> </h2>

		<form method="POST" action="/product/product-edit/<%= product.id %>" enctype="multipart/form-data">
			<label class="textForm" for="img"><b>Imagen del producto</b></label>
			<input class="inpForm" type="file" name="imgProduct">
			
			<label class="textForm" for="name"><b>Nombre del producto</b></label>
			<input class="inpForm" type="text" value="<%= product.title %> " name="title">
		
			<label class="textForm" for="descripcion"><b>Descipcion del producto</b></label>
			<textarea class="inpForm" type="text" name="descrip" id="" cols="30" rows="10"><%= product.descrip %></textarea>
			
			<% if (locals.errors) { %>
				<p class="error"><%= locals.errors.message %> </p>
			<% } %>

			<div class="divButton">
				<button id="btnFormPA" class="btnForm" type="submit"> CONFIRMAR EDICION DEL PRODUCTO </button>
			</div>
		</form>

	</div>
	<!-- ProductsEdit -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>
</html>