<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<!-- Include Header -->

<body>
    <!-- Include Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado.ejs')  %> 
	<% }else {%>
		<%- include('./partials/headerDesLogueado.ejs')  %> 
	<% } %> 
    <!-- Include Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img class="foto-perfil" src="/images/users/<%= infoUser.foto_perfil %>" alt="fotoPerfil">
		</div>
			<div  id="data-profile" class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%= infoUser.nombre + " " + infoUser.apellido %>
						<% if (locals.user != undefined) { %>
							<% if (locals.user.id == infoUser.id) { %>							 
								<a href="/user/profile/edit/<%= locals.user.id %> ">
									<i class="fas fa-cog"></i>
								</a>
							<% } %>
							<% if (locals.user.id != infoUser.id) { %>
								<% if (infoUser.idFollower != locals.user.id) { %>							
									<form action="/user/profile/<%= infoUser.id %>" method="POST">
										<button class="btnForm" type="submit" name="idFollow">SEGUIR</button>
									</form>
									<% if (locals.errors) { %>
										<p class="error"><%= locals.errors.message %> </p>
									<% } %>
								<% } else { %>
									<form action="/user/profile/<%= infoUser.id %>" method="POST">
										<button class="btnForm" type="submit" name="idFollow">DEJAR DE SEGUIR</button>
									</form>
								<% } %>
							<% } %>
						<% } %> 
						 
					</h1>
				</div>
				<p class="emailProfile"> <%= infoUser.email %>
				<p class="emailProfile"> <%= infoUser.fecha_nacimiento %>


				<div>
					<ul class="info-gen">
						<li> <%= infoUser.products.length %> productos</li>
						<li> <%= infoUser.follow.length%>  seguidores</li>
						<li> <%= infoUser.comments.length %>  comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- Datos del usuario -->

	<% if (infoUser.products.length != 0) { %>
		<!-- Mis productos -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Mis productos</h2>
				</div>
				<% for(let i = 0; i < infoUser.products.length; i++ ) { %>	
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/product/id/<%- infoUser.products[i].id %> ">
								<figure class="product-box_image">
									<img src="/images/products/<%- infoUser.products[i].image %>" alt="">
								</figure>
								<article class="product-box_data">
									<h2><%- infoUser.products[i].title %> </h2>
									<p><%- infoUser.products[i].descrip %> </p>
									<p>Comentarios: <%- infoUser.products[i].comments.length %> </p>
								</article>
							</a>
						</section>
					</div>
				<% } %>
			</div>
		</div>
		<!-- /Mis productos -->
	<% } %>
	
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>