<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>


<body>
	<!-- Header -->
	<%- include('./partials/headerDesLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<% for( let i = 0; i < listadoProducts.length; i++ ) { %>
				<% if (listadoProducts[i].type == dataQuery) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/product/id/<%= listadoProducts[i].id %> ">
								<figure class="product-box_image">
									<img src="<%= listadoProducts[i].img %> " alt="cafetera moulinex">
								</figure>
								<article class="product-box_data">
									<h2><%= listadoProducts[i].titulo %> </h2>
									<p><%= listadoProducts[i].descripcion %> </p>
									<p>Comentarios: 12</p>
								</article>
							</a>
						</section>
					</div>
				<% } %>
			<% } %>
			<% if (dataQuery == '') { %>
				<h2 class="notResult"> Lo sentimos, no encontramos un resultados para tu búsqueda :(</h2>
			<% } %>
		</div>
	</div>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>