<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<!-- Include Header -->

<body>
	<!-- Include Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado.ejs')  %> 
	<% }else {%>
		<%- include('./partials/headerDesLogueado.ejs')  %> 
	<% } %> 
    <!-- Include Header -->

	<!-- Busqueda -->
	<div class="container products-wrapper">
		<h2 class="products-title">Resultados de búsqueda</h2>
			<div class="row">
				<% if (listProducts != '' && listProducts) { %>
					<% for( let i = 0; i < listProducts.length; i++ ) { %>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box" id="search-results">
								<a href="/product/id/<%= listProducts[i].id %> ">
									<figure class="product-box_image">
										<img src="/images/products/<%= listProducts[i].image %> " alt="<%= listProducts[i].title %> ">
									</figure>
									<article class="product-box_data">
										<h2><%= listProducts[i].title %> </h2>
										<p><%= listProducts[i].descrip %> </p>
										<p>Comentarios: <%= listProducts[i].comments %></p>
									</article>
								</a>
								<% if (listProducts[i].users != undefined) { %>
                                    <a class="producerName" href="/user/profile/<%= listProducts[i].user_id %>">Creado por <%= listProducts[i].users.nombre %> <%= listProducts[i].users.apellido %></a>
                                <% } %>
							</section>
						</div>
					<% } %>
				<% } else { %>
					<h2 class="notResult">No hay resultados para su criterio de búsqueda</h2> 
				<% } %>
		</div>
	</div>
	<!-- Busqueda -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>
</html>