<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<!-- Include Header -->

<body>
	<!-- Header -->
	<%- include('./partials/headerDesLogueado') %>
	<!-- Header -->

	<!-- Novedades -->
	<div class="titles">
		<h2 class="products-title">Resultados de búsqueda</h2>
	</div>
	<div class="container products-wrapper">
		<div class="row">
			<% if (listadoProducts != '') { %>
			 	<% for( let i = 0; i < listadoProducts.length; i++ ) { %>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/product/id/<%= listadoProducts[i].id %> ">
									<figure class="product-box_image">
										<img src="<%= listadoProducts[i].image %> " alt="<%= listadoProducts[i].title %> ">
									</figure>
									<article class="product-box_data">
										<h2><%= listadoProducts[i].title %> </h2>
										<p><%= listadoProducts[i].descrip %> </p>
										<p>Comentarios: <%= listadoProducts[i].comments %></p>
									</article>
								</a>
							</section>
						</div>
				<% } %>
				<% } else { %>
					<h2 class="notResult"> Lo sentimos, no encontramos un resultados para tu búsqueda :(</h2> 
				<% } %>
		</div>
	</div>
	<!-- Novedades -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>
</html>